/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env_old
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zedo

public_html/storage
public_html/hot
data
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
